<section class="intro">
    <div class="intro_p">
        <p class="intro_p_t1">CURSOS E IMERSÕES. UMA NOVA CULTURA DE MERCADO. <span>CURSOS E IMERSÕES. UMA NOVA CULTURA
                DE MERCADO.</span></p>
        <div class="intro_p_divider"></div>
        <p class="intro_p_t2">TECNOLOGIA, INOVAÇÃO E NEGÓCIOS. PRESENTE E FUTURO. <span>TECNOLOGIA, INOVAÇÃO E NEGÓCIOS.
                PRESENTE E FUTURO.</span></p>
        <div class="intro_p_divider"></div>
    </div>
    <div class="intro_main">
        <img class="intro_main_image" src="assets/imgs/intro.png" alt="">
    </div>
    <div>
        <p>SKILLS . CONHECIMENTO</p>
        <P>MUITO. MUITO ALÉM DOS TUTORIAIS</P>
    </div>
</section>